.popup-form {
  height: 300px;
  max-width: 400px;
  display: flex;
  position: fixed;
  z-index: 5;
  border-radius: 15px;
  top: -20px !important;
  left: 0%;
  scale: 0;
  margin-left: auto;
  margin-right: auto;


}


   @media(max-width:1260px){


  .popup-form {
    height: 300px;
    max-width: 400px;
    display: flex;
    position: fixed;
    z-index: 5;
    border-radius: 15px;
    top: -20px !important;
    left: 0%;
    scale: 0;
    margin-left: auto;
    margin-right: auto;
  
  
  }
  



  .popup-form span {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 5px;

  }




}


.popup-form button {
  background-color: rgb(17, 18, 16);
  width: 200px;
  padding: 20px 30px;
  height: 60px;
  top: 60%;
  position: absolute;

}


.popup-form input {
  position: absolute;
  background-color: rgb(247, 191, 5);
  width: 200px;
  padding: 20px 30px;
  height: 60px;
  top: 30%;

}

.show-popup-form {
  scale: 1;
  top: 0;

  display: flex;
  transition: 0.3s linear;
}

.hide-popup-form {
  scale: 0;
}

.popup-form span {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right:-250px;
}

.popup-form span:hover {
  color: orange;
}

.popup-form span:active {
  scale: 0.9;
}


@media(max-width:260px){


  .popup-form input{
  width:50px;
padding:0    }

  
    .popup-form input::placeholder{
      width:50px;
    font-size: x-small;  
    padding:0;
        }
  
    .popup-form button{
      width:50px;
      font-size: x-small;  
      padding:0;
  
      
        }

        .popup-form span{

left:-200px;


        }

  
  }
  