body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  padding: 0;
  box-sizing: border-box;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.the-big form {
  text-align: center;
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  flex-wrap: wrap;
  top: 150px;
  max-height: 70%;
  text-align: center;
  overflow: hidden;
  background-color: #144b1009;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(125, 160, 20, 0.893);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding-top: 150px;

}

@media (max-width: 950px) {
  .the-big form {
    font-size: 0.2em;
    margin-left: 50%;
    margin-right: auto;
    max-width: 30vw;
    max-height: 60%;

  }
}

@media (max-width: 600px) {
  .the-big form {
    font-size: 0.2em;
    margin-left: 20px;
    margin-right: 250px;
    min-width: 100%;

  }
}


@media (max-width: 400px) {
  .the-big form {
    font-size: 0.2em;
    margin-left: 0;
    margin-right: 250px;
    min-width: 100%;
    display: block;
    margin: auto;

  }
}

.signup-form {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 30%;
  bottom: 50%;
  right: 45%;
}

form input {
  margin-bottom: 18px;
  padding: 6px 4px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: black;
  font-weight: 500;
}

form button {
  background-color: teal;
  padding: 8px 12px;
  border-radius: 5px;

  width: 205px;
  font-size: 16px;
  color: white;
  border: none;
}

form button:hover {
  cursor: pointer;
  background-color: red;
}

form button:active {
  scale: 0.9;
  border-radius: 0;
}

form p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

form p span {
  color: red;
  animation: heart 2s infinite;
}

@keyframes heart {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

form p a {
  color: teal;
  font-weight: 800;
  font-size: 14px;
}

form p a:active {
  color: red;
}

.forgot-pass:hover {
  cursor: pointer;
  font-size: smaller;
  transition: 0.5s;
}

.bo {
  display: block;
}

.yourtask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;
  margin-top: 50px;
  min-width: 400px;
  padding: 20px 20%;
  position: relative;
}

.popUp {
  background-color: hotpink;
  position: fixed;
  top: 10px !important;
  width: 500px;
  margin-top: 0 !important;
  transition: 0.8s ease-in-out;
}

.typed {
  background-color: transparent;
  font-size: large;
  accent-color: red;
  width: 300px;
}

.typed:focus {
  outline: none;
  color: #076000;
}

.typed::placeholder {
  color: red;
}

.typed,
select,
textarea {
  color: #11fe00;
  font-size: 20px;
}